body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
  /* navigation menu */
  #navigation {
	height:40px;
	background: white;  
    position: fixed;
    width: 100%;
    
}

#navigation ul {
	list-style:none;
	margin:10px 10px; 
	padding-left: 60%;
	position:relative;
	top:0;
}
#navigation ul li a {
	display:block;
	float:left;
	color: black;
	border-bottom:none;
	height:24px;
	font-weight:bold;
	font-size:0.9em;
	text-transform:uppercase;
	padding:8px 20px 8px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
/* *****home area**** */
.flexiable{
    display: flex;
    margin-bottom: 100px;
}
h1{
    font-size: 40px;
    color: black;
    font-weight: 700;
}
.half-text{
    width: 50%;
    padding: 3%;
}

.title-color{
    color: tomato;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 12px 35px;
    color: white;
    font-weight: 400;
    border-radius: 20px;
}
.top-banner{
    background-color: white;
    background-size: cover;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
}
.img{

    height: 500px;
    text-align: center;
}
.img-home{
    height: 480px;
    width: 350px;
    text-align: center;
    padding-left: 15%;
    padding-top: 5%;
}
/* *******about section******** */
.about-section{
    background-image: url(../img/7.png);
    background-size: cover;
    height: 100%;
    padding: 3%;
}
.text-center{
    text-align: center;
    margin-bottom: 3%;
}
/* *******food card show area****** */
.card-area{
    background-color: white;
}
.customer-review{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;

}
.recipies-img{
    border-radius: 10%;
    width: 100%;
    padding: 3%;
    margin-top: 0;
}
.half-text p{
    padding: 7% 0;
}
/* *****sosal media likes area******* */
.likes-item{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;


}
.likes{
    width: 93%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;

}
/* ******customer area***** */
.customer-img{
    border-radius: 50%;
    width: 40%;
    padding: 3%;
    margin-top: 0;

}
/* *******footer area****** */
footer{
    background: black;
    color: white;
    text-align: center;
    padding: 2%;
    margin: 0;
}